<html ng-app="movieSelector">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Movie Selector</title>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-sanitize.js"></script>
	
	<script src="app.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	
</head>
<body ng-controller="pakkettenController as vm">
	<div class="container">
		<h1>HBO</h1>
		<table class="table">
			<thead>
				<tr>
				  <th class="heading">Seriepakket</th>
				</tr>
			</thead>
			<tbody>  <!-- met nf-if kun je de index binnen een array aangeven -->
				<tr ng-repeat="pakket in vm.pakketten" ng-if="$index == 0">
					<th class="row">{{pakket.name}} <span ng-bind-html="vm.safeHTML(vm.pakketten_price_currency)"></span>{{ pakket.price }}</th>
				</tr>
				<tr ng-repeat="pakket in vm.pakketten" ng-if="$index == 1">
					<th class="row">{{pakket.name}} <span ng-bind-html="vm.safeHTML(vm.pakketten_price_currency)"></span>{{ pakket.price }} <button class="btn"  ng-click="pakket.selected = true; vm.getTotal()" >Add</button></th>
				</tr>
			</tbody>
		</table>
		<table class="table">
			<thead>
				<tr>
				  <th class="heading">Films</th>
				</tr>
			</thead>
			<tbody>
			    <tr ng-repeat="pakket in vm.pakketten" ng-if="$index >= 2 && $index <= 4">
					<th class="row">{{pakket.name}} <span ng-bind-html="vm.safeHTML(vm.pakketten_price_currency)"></span>{{ pakket.price }}<button class="btn" ng-click="pakket.selected = true; vm.getTotal()">Add</button></th>
				</tr>
			</tbody>
		</table>
		<table class="table">
			<thead>
				<tr>
				  <th class="heading">Lancering films/series</th>
				</tr>
			</thead>
			<tbody>  
				<tr ng-repeat="pakket in vm.pakketten" ng-if="$index >= 5 && $index <= 8">
					<th class="row">{{pakket.name}} <span ng-bind-html="vm.safeHTML(vm.pakketten_price_currency)"></span>{{ pakket.price }}<button  class="btn" ng-click="pakket.selected = true; vm.getTotal()">Add</button></th>
				</tr>
			</tbody>
		</table>
		<table class="table">
			<thead>
				<tr>
				  <th class="heading">Manier van kijken</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="pakket in vm.pakketten" ng-if="$index >= 9 && $index <= 11">
					<th class="row">{{pakket.name}} <span ng-bind-html="vm.safeHTML(vm.pakketten_price_currency)"></span>{{ pakket.price }}<button class="btn" ng-click="pakket.selected = true; vm.getTotal()">Add</button></th>
				</tr>
				<tr>
					<th class="pakketTotaal table row"> Totaal prijs pakket: <span ng-bind="vm.getTotal(product.price | currency: '&euro')"></span></th>			
				</tr>
			</tbody>
		</table>
		
		<div>
		 Ik zou geen van deze opties kiezen!!!
        <span ng-click="resetall()"> </span>
        <input type="radio" ng-model="item.selected" />
    </div>
		
	</div>
</body>
</html>