body{
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 40px;
}

.btn {
	float: right;
}
.table .row {
	text-align: center;
	border-radius: 2px;
	border-style: solid;
	border-color: #42f4df !important;
}
.container {
	width: 100%;
	border-style: solid;
	text-align: center;
	border-color: #42f4df;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.heading {
	background-color: white;
}
.cart {
	display: inline-block;
}
.container h1 {
	text-align: left;
}
.table td .btn {
	position: center;
}
.container2 {
	text-align: center;	
}
.selected {
	background-color: #42f4bf;
}